* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    width: 800px;
    margin: auto;
    font-size: 1.2vw;
}

main {
    display: none !important;
}

header {
    border-bottom: 2px solid steelblue;
    width: 100%;
    padding: 0.5em;
    background-image: linear-gradient(to top, lightsteelblue, white);
}

header img {
    float: left;
    margin: -10px 1em 0 -10px;
    width: 100%;
    max-width: 110px;
    min-width: 60px;
}

header h1 {
    font-size: 3em;
    color: steelblue;
}

div {
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: steelblue;
    display: block;
    position: relative;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.navbar ul li a {
    display: block;
    padding: 0.7em;
    text-decoration: none;
    color: white;
}

#checkbox-toggle {
    display: none;
}

.menu-btn {
    display: block;
    padding: 1em;
    color: white;
    cursor: pointer;
}

.menu-btn::after {
    content: "\2630";
}

#checkbox-toggle:checked ~ .menu-btn::after {
    content: "\2716";
}

.menu {
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    background: steelblue;
    width: 100%;
}

#checkbox-toggle:checked ~ .menu {
    display: flex;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 1em;
}

.menu li:hover > .submenu {
    display: flex;
}

aside {
    float: right;
    border: 2px solid steelblue;
    border-radius: 25px;
    padding: 1em 0.5em;
    width: 30%;
    margin: 0;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
}

aside a:hover {
    color: maroon;
}

footer {
    background-color: steelblue;
    color: white;
    padding-top: 0.5em;
    height: 50px;
    text-align: center;
    clear: both;
}

#bord {
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    padding: 0.5em;
}

.cal-title {
    text-align: center;
    font-size: 2em;
    margin: 1em 0 0.5em;
}

.whitecol {
    background-color: steelblue;
    color: white;
    padding: 0.5em;
}

.cal-table {
    border: black 2px solid;
    border-collapse: collapse;
    margin-bottom: 1em;
    font-size: 1em;
}

.cal-table th,
.cal-table td {
    padding: 0.5em;
    text-align: left;
}

.cal-table thead {
    background-color: white;
    color: black;
}

.cal-table tbody tr:nth-child(even),
.cal-table tbody tr:hover {
    background-color: transparent;
}

.content-wrap {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    margin-top: 1em;
}

.table-area {
    width: 65%;
}

@media (min-width: 668px) {
    html {
        width: 700px;
        margin: auto;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: static;
    }

    .menu-btn,
    #checkbox-toggle {
        display: none;
    }

    .submenu {
        position: absolute;
        background-color: steelblue;
        display: none;
        flex-direction: column;
    }

    .menu li:hover > .submenu {
        display: flex;
    }
}

.red-title {
    color: red;
}

aside ul li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: cover;
}

.run-icon {
    background-image: url("run-icon.png");
}

.stretch-icon {
    background-image: url("stretch-icon.png");
}

.strength-icon {
    background-image: url("strength-icon.png");
}

.cardio-icon {
    background-image: url("cardio-icon.png");
}

.yoga-icon {
    background-image: url("yoga-icon.png");
}