* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: auto;
    font-size: 1.2vw;
}

header {
    border-bottom: 2px solid steelblue;
    width: 100%;
    padding: 0.5em;
    background-image: linear-gradient(to top, lightsteelblue, white);
}

header img {
    float: left;
    margin: -10px 1em 0 -10px;
    width: 100%;
    max-width: 110px;
    min-width: 60px;
}

header h1 {
    font-size: 3em;
    color: steelblue;
}

@font-face {
    font-family: "American Captain";
    src: url("../fonts/American Captain.ttf");
}

#shapeuptext {
    font-family: "American Captain", Arial, sans-serif;
}

#mainhead {
    color: black;
}

#stressre {
    color: black;
    padding: 1em 0.5em;
}

.navbar {
    width: 100%;
    background-color: steelblue;
    display: block;
    position: relative;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.navbar ul li {
    background-color: steelblue;
}

.navbar ul li a {
    display: block;
    width: 100%;
    padding: 0.7em;
    text-decoration: none;
    color: white;
}

#checkbox-toggle {
    display: none;
}

.menu-btn {
    display: block;
    padding: 1em;
    color: white;
    cursor: pointer;
}

.menu-btn::after {
    content: "\2630";
}

#checkbox-toggle:checked ~ .menu-btn::after {
    content: "\2716";
}

.menu {
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    background: steelblue;
    width: 100%;
}

#checkbox-toggle:checked ~ .menu {
    display: flex;
}

.menu li {
    width: 100%;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 1em;
}

.menu li:hover > .submenu {
    display: flex;
}

main {
    flex-direction: column;
}

p {
    padding: 0.5em 1em;
}

h2 {
    padding-left: 0.7em;
    color: maroon;
}

p a {
    color: maroon;
}

figure.stress-figure {
    float: left;
    margin: 0 1.5em 1em 1em;
}

figure.stress-figure img {
    width: 220px;
    float: left;
}

figure.stress-figure figcaption {
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 2px solid black;
    width: 65%;
}

aside {
    float: left;
    border: 2px solid steelblue;
    border-radius: 25px;
    margin: 1em auto;
    padding: 1em 0.5em;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
}

aside ul li {
    margin-bottom: 0.5em;
}

.icon {
    width: 22px;
    vertical-align: middle;
    margin-right: 6px;
}

aside a:hover {
    color: maroon;
}

footer {
    background-color: steelblue;
    color: white;
    padding-top: 0.5em;
    height: 50px;
    text-align: center;
    clear: both;
}
.stress-figure {
    float: left;
    width: 50%; /* or auto */
}

.stress-figure .img-wrapper {
    float: left;
    margin-right: 1em;
}

.stress-figure img {
    display: block;
    max-width: 220px; /* adjust as needed */
}

.stress-figure figcaption {
    clear: left;       /* ensures caption goes below image */
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 0.5em 0;
}

.stress-figure p {
    overflow: hidden; /* wraps around floated image */
}
@media (min-width: 668px) {
    html {
        width: 800px;
        margin: auto;
    }

    main {
        width: 65%;
        float: left;
    }

    aside {
        width: 30%;
        float: right;
        margin-top: 1em;
    }

    .menu {
        display: flex ;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        background-color: steelblue;
    }

    .menu li {
        width: auto;
        text-align: center;
    }

    .menu-btn,
    #checkbox-toggle {
        display: none;
    }

    .submenu {
        position: absolute;
        background-color: steelblue;
        display: none;
        flex-direction: column;
    }

    .menu li:hover > .submenu {
        display: flex;
    }
}