* {
    margin: 0;
    box-sizing: border-box;
}
body {font-family:Arial; width: 100%; margin: auto;
 font-size:1.5vw;}
    
h1 {
    color:steelblue;
    font-style: italic;
    font-size: 2.0em;
  
}
img{float: left; margin-right: 1em;
    padding-top: -0.5em;
    margin-top: -10px;
    margin-left: -10px;
     width: 100%; 
    max-width: 120px; 
    min-width: 100px;
}

h3 a {
    color:maroon;
    padding: 1em;
}
footer p {
    text-align: center;
    margin: 0 auto;
}
#aside2 {color:maroon; padding-top: 0.5em;}

aside a:hover{ color:maroon; }
aside ul li a{ color:steelblue;
border: 3px;
border-color: steelblue;}
footer {
    background-color: steelblue;
    color:white;
    height: 50px;
    padding-top: 0.5em;
    clear:both;
}
html {

    margin: 1em auto;
    margin-top: -1em;
    width: 700px;

}
header {
   border-bottom: 2px solid steelblue;
   width : 100%;
   box-sizing: border-box;
   padding: 2em;
   background-image:linear-gradient(to top, lightsteelblue, white);
}
#h2move {
    text-align: left;
    clear: both;
    padding-left: -0.3em;
    padding-top: 0.7em;
}
h2 {
    padding-left: 0.7em;
}
p{
    padding: 0.5em;
    padding-left:1em;
}

blockquote {
    padding-left: 3em;
}
#asr {
    width: 30%;
    float: left;
    border: 2px solid steelblue;
    border-radius: 25px;
    margin:0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
li {
    padding: 0.2em;
}

#padh2 {
    padding: 0.7em;
}
main {
    width: 36%;
  float:left
}
nav {
    padding-bottom: 0.5em;
}
#p22 {
    font-weight: bold;
    font-size: 1.2em;
}
#aside3 {
color:maroon; padding-top: 0.5em;
}
#asl {
    width: 30%;
    float: right;
    border: 2px solid steelblue;
    border-radius: 25px;
    margin:0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
aside {
    flex-basis: 25%;
}