* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    width: 900px;
    margin: auto;
    font-size: 16px;
}

header {
    border-bottom: 2px solid steelblue;
    width: 100%;
    padding: 0.5em;
    background-image: linear-gradient(to top, lightsteelblue, white);
}
#quotep {
    padding-left: 3em;
}
header img {
    float: left;
    margin: -10px 1em 0 -10px;
    width: 100%;
    max-width: 110px;
    min-width: 60px;
}
#asidecol {
    color: maroon;
}
header h1 {
    font-size: 3em;
    color: steelblue;
}
.h2col {
    padding-left: 0.5em;
    padding: 0.3em 1em;
    color: maroon;
}

@font-face {
    font-family: "American Captain";
    src: url("../american-captain/American Captain.ttf");
}

#shapeuptext {
    font-family: "American Captain", Arial, sans-serif;
    font-style: italic;
}

#mainhead {
    color: black;
}

#stressre {
    color: black;
    padding: 0.3em;
}

.navbar {
    width: 100%;
    background-color: steelblue;
    display: block;
    position: relative;
}

nav {
    
    flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
}

.navbar ul li {
    background-color: steelblue;
}

.navbar ul li a {
    display: block;
    width: 100%;
    padding: 0.7em;
    text-decoration: none;
    color: white;
}

#checkbox-toggle {
    display: none;
}

.menu-btn {
    display: block;
    padding: 1em;
    color: white;
    cursor: pointer;
}

.menu-btn::after {
    content: "\2630";
}

#checkbox-toggle:checked ~ .menu-btn::after {
    content: "\2716";
}

.menu {
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    background: steelblue;
    width: 100%;
}

#checkbox-toggle:checked ~ .menu {
    display: flex;
}

.menu li {
    width: 100%;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 1em;
}

.menu li:hover > .submenu {
    display: flex;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

main {
    width: 100%;
}

p {
    padding: 0.5em 1em;
}

#bord {
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    padding: 0.5em;
}

h2 {
    padding-top: 0.4em;
    padding-left: 0.7em;
    color: black;
}

p a {
    color: maroon;
}

figure.stress-figure {
    float: left;
    margin: 0 1.5em 0em 1em;
}

figure.stress-figure img {
    width: 220px;
    float: left;
}

figure.stress-figure figcaption {
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 2px solid steelblue;
    width: 100%;
}

.stress-figure {
    float: left;
    width: 43%;
}

.stress-figure .img-wrapper {
    float: left;
    margin-right: 1em;
}

.stress-figure img {
    display: block;
    max-width: 240px;
}

.stress-figure figcaption {
    clear: left;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 0.5em 0;
    padding-bottom: 0.3em;
}

.stress-figure p {
    overflow: hidden;
}

aside {
    width: 100%;
    margin: 26em 0;
    float: none;
    border: 2px solid steelblue;
    border-radius: 25px;
    padding: 1em 0.5em;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
}

aside ul li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: cover;
}

aside a:hover {
    color: maroon;
}

.run-icon { background-image: url("../images/run-icon.png"); }
.stretch-icon { background-image: url("../images/stretch-icon.png"); }
.strength-icon { background-image: url("../images/strength-icon.png"); }
.cardio-icon { background-image: url("../images/cardio-icon.png"); }
.yoga-icon { background-image: url("../images/yoga-icon.png"); }

ul {
    list-style-type: square;
}

footer {
    background-color: steelblue;
    color: white;
    padding-top: 0.5em;
    height: 50px;
    text-align: center;
    clear: both;
}

@media (min-width: 668px) {

    .wrapper {
        max-width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 65% 33%;
        grid-template-areas:
            "main aside";
        column-gap: 1em;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
        margin-top: 1em;
    }

    .menu {
        display: grid !important;
        grid-auto-flow: column;
        justify-content: space-around;
        position: static;
        background-color: steelblue;
    }

    .menu li {
        width: auto;
        text-align: center;
    }

    .menu-btn,
    #checkbox-toggle {
        display: none;
    }

    .submenu {
        position: absolute;
        background-color: steelblue;
        display: none;
        flex-direction: column;
    }

    .menu li:hover > .submenu {
        display: flex;
    }
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #bbb;
    border-radius: 4px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 6px;
    width: 65%;
    margin: 1em 0;
}

legend {
    font-weight: bold;
    padding: 0 0.4em;
    color: maroon;
}

textarea {
    resize: vertical;
}

.base-btn {
    padding: 0.7em 1.3em;
    font-size: 1.3em;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: background-color 0.25s;
    margin-right: 0.5em;
}

.submit-btn {
    background-color: steelblue;
    color: white;
}

.reset-btn {
    background-color: maroon;
    color: white;
}

.submit-btn:hover {
    background-color: rgb(60, 110, 160);
}

.reset-btn:hover {
    background-color: rgb(150, 20, 20);
}

.button-group {
    text-align: left;
}

label span.red {
    color: red;
}

input:required:invalid {
    border: 2px solid red;
}

input:required:valid {
    border: 1px solid #bbb;
}

input::placeholder {
    color: lightgray;
}

fieldset label {
    margin-right: 1em;
}

input[type="radio"]:checked {
    accent-color: blue;
}
