* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    width: 100%;
    margin: auto;
    font-size: 1.2vw;
}

img {
    float: left;
    margin: -10px 1em 0 -10px;
    width: 100%;
    max-width: 110px;
    min-width: 60px;
}
header {
    font-size: 1.5em;
}
#shapeuptext {
    text-decoration: none;
}
h1 {
    color: steelblue;
    font-size: 2em;
}

h2 {
    padding-left: 0.7em;
    color: maroon;
}

h3 a {
    color: maroon;
    padding: 1em;
}

p {
    padding: 0.5em 1em;
}

blockquote {
    padding-left: 3em;
}

html {
    margin: 1em auto -1em auto;
    width: 300px;
}
ul{
    list-style-type: square;
}
header {
    border-bottom: 2px solid steelblue;
    width: 100%;
    padding: 0.5em;
    background-image: linear-gradient(to top, lightsteelblue, white);
}

main {
    float: left;
    clear: left;
    display: flex;
    flex-direction: column;
}

aside {
    float: left;
    border: 2px solid steelblue;
    border-radius: 25px;
    margin: 1em auto;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
   
}

aside ul {
    list-style-type: disc;
}

aside a:hover {
    color: maroon;
}

footer {
    background-color: steelblue;
    color: white;
    height: 50px;
    padding-top: 0.5em;
    clear: both;
    text-align: center;
}
#mainhead {
    color:black
}
.navbar {
    width: 100%;
    background-color: steelblue;
    display: block;
    position: relative;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.navbar ul li {
    width: auto;
    text-align: left;
    margin: 0;
    background-color: steelblue;
}

.navbar ul li a {
    display: block;
    width: 100%;
    padding: 0.7em;
    text-decoration: none;
}

#checkbox-toggle {
    display: none;
}

.menu-btn {
    display: block;
    padding: 1em;
    color: white;
    cursor: pointer;
}

.menu-btn::after {
    content: "\2630";
}

#checkbox-toggle:checked ~ .menu-btn::after {
    content: "\2716";
}

.menu {
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    background: transparent;
    width: auto;
}

#checkbox-toggle:checked ~ .menu {
    display: flex;
}
p a {
    color: maroon;
}
.menu li {
    width: 100%;
}

.menu li a {
    display: block;
    width: 100%;
    background-color: steelblue;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 1em;
}

.menu li:hover > .submenu {
    display: flex;
}

#bord {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 7px;
    background-color: steelblue;
    padding: 0.5em;
    text-align: center;
}

#bord ul li {
    width: 30%;
    border: 2px solid white;
    border-radius: 25px;
    background-color: steelblue;
}

.clr {
    color: white;
}
#str {
    color: black;
    padding-top: 0.5em;
padding-left: 0.5em;
text-decoration: none;}


@media (min-width: 668px) {
    html {
        width: 800px;
    }

  main {
    width: 65%;
    float: left;
  }

  aside {
    width: 30%;
    float: right;
    margin-top: 1em;
  }

  .menu {
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    position: static;                 
    width: 100%;
    background-color: steelblue;
  }

  .menu li {
    width: auto;
    text-align: center;
  }

  .menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
  }

  .menu-btn,
  #checkbox-toggle {
    display: none;
  }

  .submenu {
    position: absolute;
    background-color: steelblue;
    display: none;
    flex-direction: column;
  }

  .menu li:hover > .submenu {
    display: flex;
  }
}