* {
    margin: 0;
    box-sizing: border-box;
}
.meditation-video {
    margin: 1em 0;
    padding: 0.7em;
}

audio {
    display: block;
    width: 100%;
    margin: 0.7em 0;
}
#paddingmedi {
    padding-left: 0.5em;
}