* {
    margin: 0;
    box-sizing: border-box;
}
.meditation-video {
    margin: 1em 0;
    padding: 0.7em;
}

audio {
    display: block;
    width: 100%;
    margin: 0.7em 0;
}
#paddingmedi {
    padding-left: 0.5em;
}
#bord {
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    padding: 0.5em;
}